<!DOCTYPE html>
<html>
<head><title>Add User</title></head>
<body>
    <h1>Create account</h1>

    {% if errors %}
        <div style="color: red;">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post" action="/add_user">
        Username: <input type="text" name="name" value="{{ name }}"><br>
        Age: <input type="text" name="age" value="{{ age }}"><br>
        email: <input type="text" name="email" value="{{ email }}"><br>
        Password: <input type="text" name="login_password" value="{{ login_password }}"><br>
        <button type="submit">Submit</button>
    </form>

    <a href="/">Go back to home page</a><br>
    <a href="/logout">Log Out</a><br>

    {% if request.method == 'POST' %}
        <h2>Form Data:</h2>
        <pre>
            Name: {{ name }}
            Age: {{ age }}
            email: {{ email }}
            Password: {{ login_password }}
        </pre>
    {% endif %}
</body>
</html>
