<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the gamer library, {{ username }}!</h1>

    <a href="/add_entry">Add New Game</a><br>
    <a href="/add_review">Leave a Game Review</a><br>
    <a href="/list_users">See Users</a><br>
    <a href="/list_results">Show Game Lists and Recently Added</a><br>
    <a href="/top_rated_games">View Top Rated Games</a><br>
    <a href="/list_reviews">View Game Reviews</a><br>
    <a href="/logout">Log Out</a><br>
</body>
</html>
